@charset "UTF-8";

/* SHIRTS */
.twa-black-shirt {
  background-image: url('https://raw.githubusercontent.com/gist/Lenicon/0438e39ec46045e886ed90749c27429c/raw/43e8966db0ed6bc5b210835fe60e424e7c593ff1/black-shirt.svg');
}
.twa-brown-shirt {
  background-image: url('https://raw.githubusercontent.com/gist/Lenicon/0438e39ec46045e886ed90749c27429c/raw/43e8966db0ed6bc5b210835fe60e424e7c593ff1/brown-shirt.svg');
}
.twa-green-shirt {
  background-image: url('https://raw.githubusercontent.com/gist/Lenicon/0438e39ec46045e886ed90749c27429c/raw/43e8966db0ed6bc5b210835fe60e424e7c593ff1/green-shirt.svg');
}
.twa-orange-shirt {
  background-image: url('https://raw.githubusercontent.com/gist/Lenicon/0438e39ec46045e886ed90749c27429c/raw/43e8966db0ed6bc5b210835fe60e424e7c593ff1/orange-shirt.svg');
}
.twa-red-shirt {
  background-image: url('https://raw.githubusercontent.com/gist/Lenicon/0438e39ec46045e886ed90749c27429c/raw/43e8966db0ed6bc5b210835fe60e424e7c593ff1/red-shirt.svg');
}