@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Arial, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fixed-center {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.fixed-center-emoji {
  position: fixed;
  top: 50vh;
  left: 50vw;
}

a {
  text-decoration-line: underline;
}


/* BACKGROUNDS */

.bg-home {
  background: repeat linear-gradient(45deg , #fff6b6 10%,transparent 11%, transparent 89% , #f7f3d3 90%),linear-gradient(135deg , #f7f3d3 10%,transparent 11%, transparent 89% , #f7f3d3 90%),radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(0deg, transparent 44%, #f7f3d3 45%, #f7f3d3 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #f7f3d3 45%, #f7f3d3 55%, transparent 56%);
  background-size: 6em 6em;
  background-color: #ffffff;
  opacity: 1
}

.bg-doghouse {
  background: repeat linear-gradient(45deg, #cdecc580 25%, transparent 21%) , linear-gradient(315deg, #cdecc580 25%, transparent 21%), linear-gradient(45deg, #cdecc5 10%, transparent 11%), linear-gradient(315deg, #cdecc5 10%, transparent 11%),linear-gradient(135deg, #cdecc580 25%, transparent 21%) , linear-gradient(225deg, #cdecc580 25%, transparent 21%), linear-gradient(135deg, #cdecc5 10%, transparent 11%), linear-gradient(225deg, #cdecc5 10%, transparent 11%), radial-gradient(#cdecc5 20%, transparent 21%);
  background-size: 6em 6em;
  background-color: #f7ffe9;
  opacity: 1
}

.bg-inventory{
  background: repeat linear-gradient(45deg, #f7e7df 10%,transparent 10%,transparent 90%,#f7e7df 90%),linear-gradient(135deg, transparent 40%, #f7e7df80 40%, #f7e7df80 60%, transparent 0),linear-gradient(45deg, transparent 40%, #f7e7df 40%, #f7e7df 60%, transparent 0);
  background-size: 5em 5em;
  background-color: #ffffff;
  opacity: 1
}

.bg-shop {
  background: repeat linear-gradient(45deg, #d4f3e580 25%, transparent 21%) , linear-gradient(315deg, #d4f3e580 25%, transparent 21%), linear-gradient(45deg, #d4f3e5 10%, transparent 11%), linear-gradient(315deg, #d4f3e5 10%, transparent 11%),linear-gradient(135deg, #d4f3e580 25%, transparent 21%) , linear-gradient(225deg, #d4f3e580 25%, transparent 21%), linear-gradient(135deg, #d4f3e5 10%, transparent 11%), linear-gradient(225deg, #d4f3e5 10%, transparent 11%), radial-gradient(#d4f3e5 20%, transparent 21%);
  background-size: 5em 5em;
  background-color: #ffffff;
  opacity: 1
}

.bg-shrine {
  background: repeat linear-gradient(-45deg, #f3e6b099 20%, transparent 20% 80%, #f3e6b099 80% 100%), linear-gradient(45deg, #f3e6b099 20%, transparent 20% 80%, #f3e6b099 80% 100%), linear-gradient(-45deg, #ffffff 33%, transparent 33% 66%, #ffffff 66%), linear-gradient(45deg, transparent 33%, #f3e6b0 33% 66%, transparent 66%);
  background-size: 6em 6em;
  background-color: #ffffff;
  opacity: 1
}

#bg {
  animation: movebg 10s linear infinite;
}

@keyframes movebg {
  from {background-position: top right;}
  to {background-position: bottom left;}
}